@import url(https://fonts.googleapis.com/css?family=Arsenal:400,400i,700&amp;subset=latin-ext);

html {
  font-size: 14px;
}

body {
  font-family: Arsenal, sans-serif;
}

.pageContent {
  background-color: lightgray;
  text-align: justify;
  font-size: 1.2rem;
  padding: 5% 10%;
}
@media (min-width: 960px) {
  .pageContent {
    width: 940px;
  }
}
.pageContent header {
  position: relative;
}
.pageContent header h1 {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  position: absolute;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  background: rgba(50, 50, 50, 0.8);
  padding: 2%;
  border-radius: 1rem;
  right: 50%;
  display: block;
  white-space: wrap;
  color: rgba(255, 255, 255, 0.8);
}
@media (min-width: 360px) and (max-width: 474px) {
  .pageContent header h1 {
    white-space: nowrap;
  }
}
@media (min-width: 475px) {
  .pageContent header h1 {
    white-space: nowrap;
    font-size: 2.2rem;
  }
}
.pageContent h2 {
  font-size: 2rem;
}
.pageContent h3 {
  font-size: 1.8rem;
  padding-bottom: 1%;
  border-bottom: 1px solid #666;
}
.pageContent #logo {
  display: block;
  padding: 5%;
  margin: auto;
}
.pageContent img {
  display: block;
  margin: 5% auto;
}
.pageContent main ol {
  list-style-type: none;
  padding: 0;
}
.pageContent main ol p {
  text-indent: 7%;
  text-align: justify;
}
.pageContent main .quote {
  float: left;
}
@media (min-width: 460px) {
  .pageContent main .quote {
    width: 70%;
  }
}
.pageContent main .quote cite {
  display: block;
  text-align: right;
  margin-top: 1%;
}
.pageContent main .quote:nth-child(even) {
  float: right;
}
.pageContent main #links {
  font-size: 1.5rem;
  -moz-text-align-last: center;
       text-align-last: center;
}

footer {
  text-align: center;
  padding: 20px;
  width: 100%;
}
